.headline{
    background-color: black;
    color: white;
   
}
.css{
    text-align: center;
}
.head{
    background-color: cornflowerblue;
  
}

.end{
    background-color: black;
    color: white;
}